body {
    background-color: rgb(200, 255, 0);
  }
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 20%;
  }

