html, body {
    background-color: rgb(92, 27, 214);
    size-adjust: 100%;
    margin: 0;
    height: 100%;
    margin: auto;
    padding: 10px;
  }
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 20%;
  }


  #a{
    align-self:center ;
    width: 20%;
    margin:auto;
  }
    
   
    #formdiv {
      align-items: center;

    }

    #img{
      height: 0%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    #heroimage{
      background-image: linear-gradient(rgba(181, 36, 248, 0.5), rgba(17, 67, 233, 0.5)), url("calvin-kinateder-bHeEwswOnJI-unsplash.jpg");
      height: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    .idk{
      color: blueviolet;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 40pt;
    }