body {
    background-color: cyan;
  }
  h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 20%;
  }

  label{
    font-family: 'Courier New', Courier, monospace
    ;
    font-size: larger
  }